/*media query*/
$maxMobile: "(max-width :767px)";
$minSmall: "(min-width :768px)";
$maxSmall:"(max-width:991px )";
$minMedium: "(min-width :992px)";
$minLarge:"(min-width :1200px)";

/*colors*/

// #e2494c;
$redColor:#e7080c;
$grayColor:#9c9c9c;
$lightGrayColor:#ddd;

/*directions*/
$float-left: left;
$float-right: right;

$text-right: right;
$text-left: left;
