.header {
    padding: 20px 0 ;
    overflow: hidden;
    border-bottom: 1px solid $grayColor;
    .logo {
        width: 30%;
        float: $float-left;
        position: relative;
        @media #{$maxMobile} {
            width: 100%;
            float:none;
            text-align: $text-left;
        }
        @media #{$minSmall} {
            width: 100%;
            text-align: center;
            float: none;
        }
        @media #{$minMedium} {
            width: 30%;
            text-align: $text-left;
            float: $float-left
        }
        h1 {
            margin-bottom: 0;
            margin-top: 10px;
        }
        p {
            font-weight: 400;
        }
    }
    .navbar {
        width:70%;
        float:$float-left;
        overflow: hidden;
        background-color: $redColor;
        border-radius: 15px;
        @media #{$minSmall} {
            width: 100%;
            margin-top: 30px;
            float: none;
            display: block !important;
        }
        @media #{$minMedium} {
            width: 70%;
            float: $float-left;
            margin-top: 1em;
        }
        @media #{$maxMobile} {
            display: none;
            border-radius: 0;
            width: 100%;
        }
        li {
            width: 20%;
            float: $float-left;
            font-size: 18px;
            text-align: center;
            @media #{$maxMobile} {
                float: none;
                display: block;
                width: 100%;
                text-align: $text-left;
                padding-left: 10px;
                padding-right: 10px;
            }
            a {
                display: block;
                padding: 20px 10px;
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: $lightGrayColor;
                }
            }
        }
    }
}