.main-btn {
    background-color: $redColor;
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-align: center;
    min-width: 120px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor:pointer;
    @include prefixer(transition , all .7s ease-in-out , webkit moz o);
    &:hover{
        color: $redColor;
        background-color: #fff;
        border: 1px solid $redColor;
    }
    @media #{$maxMobile} {
        margin-bottom: 20px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.the-toggler {
    background-color: $redColor;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top:18px;
    right: 15px;
    display: none;
    outline: none;
    @media #{$maxMobile} {
        display:block;
    }
    span {
        display: block;
        width: 35px;
        height: 3px;
        background-color: #FFF;
        border-radius: 10px;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}