.galleryContainer {
    width: 100%;
    height: 500px;
    max-width: 1000px;
    user-select: none;
    box-shadow: 0 0 3px 1px #00000078;
    padding: 10px;
    margin: 0 auto;
}

.galleryContainer .slideShowContainer {
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}

.galleryContainer .slideShowContainer .imageHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.galleryContainer .slideShowContainer .imageHolder img {
    width: 100%;
    height: 100%;
}

.galleryContainer .slideShowContainer .imageHolder .captionText {
    display: none;
}

.galleryContainer .slideShowContainer .leftArrow,
.galleryContainer .slideShowContainer .rightArrow {
    width: 50px;
    height: 72px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #00000036;
    transition: all .5s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}

.galleryContainer .slideShowContainer .rightArrow {
    left: auto;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.galleryContainer .slideShowContainer .leftArrow:hover,
.galleryContainer .slideShowContainer .rightArrow:hover {
    background:#000000a8;
    cursor: pointer;
}

.galleryContainer .slideShowContainer .arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-left: 0;
    border-bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.galleryContainer .slideShowContainer .arrow.arrowLeft {
    transform: rotateZ(-135deg);
}

.galleryContainer .slideShowContainer .arrow.arrowRight {
    transform: rotateZ(45deg);
}
.galleryContainer .slideShowContainer>.captionHolder {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    background: #00000047;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 1;
    
}
.galleryContainer .slideShowContainer>.captionHolder>.captionText {
    margin: 0;
}

.galleryContainer .slideShowContainer #playPauseBtn {
    width: 35px;
    height: 37px;
    position: absolute;
    z-index: 5;
    margin: 5px;
    cursor: pointer;
    background-image: url('https://res.cloudinary.com/hapiii/image/upload/v1568718204/ujcphubsd0fs9skufvaj.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.galleryContainer #dotsContainer {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    /* box-sizing: border-box; */
}

.galleryContainer #dotsContainer .dots {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color .5s;
}

.galleryContainer #dotsContainer .dots:first-child {
    margin-left: 0;
}

.galleryContainer #dotsContainer .dots:hover,
.galleryContainer #dotsContainer .dots.active {
    background-color: #717171;
}


/* classes for moving slides by animation */
.galleryContainer .moveLeftCurrentSlide {
    animation-name: moveLeftCurrent;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: -100%;
        opacity: 1;
    }
}

.galleryContainer .moveLeftNextSlide {
    animation-name: moveLeftNext;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveLeftNext {
    from {
        margin-left: 100%;
        opacity: 1;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

.galleryContainer .moveRightCurrentSlide {
    animation-name: moveRightCurrent;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveRightCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: 100%;
        opacity: 1;
    }
}

.galleryContainer .moveRightNextSlide {
    animation-name: moveRightNext;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveRightNext {
    from {
        margin-left: -100%;
        opacity: 1;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

/* caption animation */
.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}

@keyframes slideTextFromBottom {
    from {
        opacity: 0;
        margin-top: 100px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}


.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}

@keyframes slideTextFromTop {
    from {
        opacity: 0;
        margin-top: -100px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

